@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* --------- */
:root{
  --Primary-color : #f8f9fd;
  --Secondary-color : #e99c2e;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--Primary-color);
}
.list {
  min-width: 350px;
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.icons {
  font-size: 17px;
  width: 85px;
  display: flex;
  justify-content: space-between;
}
.logo > span , .home{
  color: var(--Secondary-color);
}
.logo , li , .icons i {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
li:hover , .icons i:hover {
  color: var(--Secondary-color);
}
nav{
  padding: 25px !important;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: white;

}
/* --------- */
img {
  width: 330px !important;
}
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--Secondary-color);
}


.hero {
  height: calc(100vh - 155px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.content h2{
    font-size: 40px;
    color: #616060;
    font-weight: 400;
    margin: 20px 0 22px;
}
.content h4 {
  color: #998d80;
  font-size: 28PX !IMPORTANT;
  margin: 0px;
}
.content p {
  margin: 35px 0 20px;
}
p {
  margin: 0;
  color: #a09e9c;
  font-size: 16px;
  line-height: 1.8;
}
.owl-dots {
  margin: 30px auto;
  width: fit-content;
}
del{
  margin-left: 8px;
  color: #bbb9b9;
}
.buttons button{
    width: 150px;
    height: 50px;
    border-radius: 2px;
    font-weight: 500;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.buttons .one {
  background: var(--Secondary-color);
  color:white;
  margin-right: 10px;
}
.buttons .one:hover {
  border: 1px solid var(--Secondary-color);
  background: none;
  color: var(--Secondary-color);
}
.buttons .two {
  color:var(--Secondary-color);
  background: none;
}
.buttons .two:hover {
  border: 1px solid var(--Secondary-color);
}

/* popular section */

.popular-section img {
  width: 106px !important;
}
.popular-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.left , .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left , .middle , .right {
  height: 240px;
  background-color: #f8f9fc;
  padding: 13px;
  text-align: center;
}

.popular-section h3 {
  color: #616060;
  font-size: 14px;
}
.popular-section p {
  font-size: 12px;
}
.popular-section b {
  color: #616060;
}
.popular-section b span{
  color: var(--Secondary-color);
}
.left {
  justify-content: center;
  gap: 7px;
}
.middle {
  display: flex;
  flex-direction: row;
  width: 43em;
  align-items: center;
}
.middle-content {
  display: flex;
  align-items: flex-start;
}
.middle .popular-text {
  max-width: 540px;
  text-align: initial;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.right {
  display: flex;
  gap: 7px;
  justify-content: flex-start;
}
.right img {
  position: relative;
  top: -12px;
  width: 106px !important;
}
.left img{
  width: 132px !important;
  position: relative;
  top: -9px;
}
.middle img {
  position: relative;
}
.middle button {
  padding: 8px;
  border:1px solid #616060;
  font-size: 15px;
}
.middle button:hover {
  background-color: #616060;
  color: white;
}
.popular .container{
  background-color: white !important;
}
.cont {
  background: white;
  padding: 70px 0px;
}
/* ------------ */
.row{
  margin: 0px auto !important;
}
.arrival-sec {
  height: 280px;
  width: 100%;
  background: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.arrival-sec img {
  width: 50% !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.arrival-sec:hover img {
  width: 60% !important;
}
.git {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  height: 0px;
  background: #33383c;
  color: white;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  opacity: 0;
}
.arrival-sec:hover .git{

  height: 30px;
  opacity: 1;
}

.addToCard {
  display: flex;
  align-items: center;
}
.arrival-sec i {
  padding-right: 13px;
  font-size: 10px;
}
.arrival-sec p {
    font-size: 12px;
}
.arrival-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 120px; */
  justify-content: center;
  padding: 15px 0px 40px;
}
.section-head{
  text-align: center;
  padding: 0px 0px 40px;
}
.cont-arrival{
  background-color: white;
  padding: 0px 0px 50px;
}

.arrival-sec::before{
  content: "";
  height: 0%;
  width: 0%;
  position: absolute;
  background-color: #616060;
  opacity: 0.2;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.arrival-sec:hover:before{
  height: 100%;
  width: 100%;
}

/* collectin section */

.col-element1{
  background-image: url(./images/collection/sofa-banner.jpg);
}
.col-element2{
  background-image: url(./images/collection/table-banner.jpg);

}
.col-element1 , .col-element2 {
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
}
.col-element1::before , .col-element2::before {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.col-element1::after , .col-element2::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.6;
}
.cont-collection  .owl-dots{
  display: none !important;
}
.collection-txt , .collection-txt p{
  color: white !important;
}
.collection-txt{
  position: relative !important;
  width: 60%;
  margin-left:100px !important;
  display: flex;
    flex-direction: column;
}


.collection-txt b span {
  color: var(--Secondary-color);
}
.collection-txt button {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    font-weight: 500;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    background-color: var(--Secondary-color);
    color: white;
}
.collection-txt button:hover {
  border: 1px solid var(--Secondary-color);
  background: none;
  color: var(--Secondary-color);
  background-color: white;
}
.rect {
  position: absolute;
  width: 40%;
  height: 100%;
  background: #383e3f;
  opacity: 0.8;
}

/* Feature section */

.cont-feature {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cont-feature .section-head {
  margin-top: 40px;
}
.cont-feature .container {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.colums img {
  height: 250px !important;
  width: 200px !important;
}
.review {
  display: flex;
  width: 125px;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px auto;
}
.stars , .review p {
  font-size:10px;
}
.freature-text {
    text-align: center;
    padding: 10px 0px;
}
span.stars {
  color: #a9a9a9;
}
span.stars i:not(:last-child) {
  color: #efce4a !important;
}