@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* --------- */
:root{
  --Primary-color : #f8f9fd;
  --Secondary-color : #e99c2e;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--Primary-color);
}
.list {
  min-width: 350px;
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.icons {
  font-size: 17px;
  width: 85px;
  display: flex;
  justify-content: space-between;
}
.logo > span , .home{
  color: var(--Secondary-color);
}
.logo , li , .icons i {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
li:hover , .icons i:hover {
  color: var(--Secondary-color);
}
nav{
  padding: 25px !important;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: white;

}
/* --------- */
img {
  width: 330px !important;
}
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--Secondary-color);
}


.hero {
  height: calc(100vh - 155px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.content h2{
    font-size: 40px;
    color: #616060;
    font-weight: 400;
    margin: 20px 0 22px;
}
.content h4 {
  color: #998d80;
  font-size: 28PX !IMPORTANT;
  margin: 0px;
}
.content p {
  margin: 35px 0 20px;
}
p {
  margin: 0;
  color: #a09e9c;
  font-size: 16px;
  line-height: 1.8;
}
.owl-dots {
  margin: 30px auto;
  width: fit-content;
}
del{
  margin-left: 8px;
  color: #bbb9b9;
}
.buttons button{
    width: 150px;
    height: 50px;
    border-radius: 2px;
    font-weight: 500;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.buttons .one {
  background: var(--Secondary-color);
  color:white;
  margin-right: 10px;
}
.buttons .one:hover {
  border: 1px solid var(--Secondary-color);
  background: none;
  color: var(--Secondary-color);
}
.buttons .two {
  color:var(--Secondary-color);
  background: none;
}
.buttons .two:hover {
  border: 1px solid var(--Secondary-color);
}

/* popular section */

.popular-section img {
  width: 106px !important;
}
.popular-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.left , .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left , .middle , .right {
  height: 240px;
  background-color: #f8f9fc;
  padding: 13px;
  text-align: center;
}

.popular-section h3 {
  color: #616060;
  font-size: 14px;
}
.popular-section p {
  font-size: 12px;
}
.popular-section b {
  color: #616060;
}
.popular-section b span{
  color: var(--Secondary-color);
}
.left {
  justify-content: center;
  gap: 15px;
}
.middle {
  display: flex;
  flex-direction: row;
  width: 43em;
  align-items: center;
}
.middle-content {
  display: flex;
  align-items: flex-start;
}
.middle .popular-text {
  max-width: 540px;
  text-align: initial;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.right {
  display: flex;
  gap: 7px;
  justify-content: flex-start;
}
.right img {
  position: relative;
  top: -12px;
  width: 106px !important;
}
.left img{
  width: 132px !important;
  position: relative;
  top: -10px;
}
.middle img {
  position: relative;
}
.middle button {
  padding: 8px;
  border:1px solid #616060;
  font-size: 15px;
}
.middle button:hover {
  background-color: #616060;
  color: white;
}
.popular .container{
  background-color: white !important;
}
.cont {
  background: white;
  padding: 70px 0px;
}
