@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* --------- */
body{
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fd;
}
.list {
  min-width: 350px;
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.icons {
  font-size: 17px;
  width: 85px;
  display: flex;
  justify-content: space-between;
}